/**
 *  PressCount Wordpress Plugin     
 *  @author Tyler Bailey
 * 
 */


.analytic-options {
    margin: 20px 0;
}
.analytic-options a {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin: 0 8px;
}
.analytic-options a:first-child {
    margin-left: 0;
}

.analytic-options a:hover,
.analytic-options a.active {
    color: #333;
}

table#presscount-stats {
    border-collapse: collapse;
    font-size: 16px;
}
table#presscount-stats thead tr td {
    font-weight: bold;
}
table#presscount-stats tr td {  
    border-bottom: 1px solid #333;
    padding: 10px 0;
}
table#presscount-stats tr:last-child td {
    border-bottom: 0;
}
table#presscount-stats tr td:not(#post-info) {
    text-align: center;
}


.postbox {
    padding: 15px 20px 15px;
}
